[Unit]
Description=PlotVote Celery Worker
After=network.target redis6.service

[Service]
Type=exec
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/plotvote
EnvironmentFile=/home/ec2-user/plotvote/.env
ExecStart=/home/ec2-user/plotvote/venv/bin/celery -A plotvote worker --loglevel=info
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=10s
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
